[submodule "implementations/mlkem-native"]
	path = implementations/mlkem-native
	url = https://github.com/pq-code-package/mlkem-native
[submodule "implementations/pqclean"]
	path = implementations/pqclean
	url = https://github.com/PQClean/PQClean
[submodule "implementations/liboqs"]
	path = implementations/liboqs
	url = https://github.com/open-quantum-safe/liboqs
